.button {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    padding: 0 8px;
    overflow: visible;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: none;
    outline: none;
    appearance: none;
}
